.profilemain{

    width:400px;
    height:350px;
    border: 1px black solid;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}

.profileimage{
width: 200px;
height: 200px;
border: 50px dashed white ;
border-radius: 50%;


}

.female{
    border:1px solid pink
}

.male{
    border: 1px solid green
}